# 将超时时间从 500ms 增加到 1000ms (1秒)
command_timeout = 1000

format = """
$battery
$os[$username](yellow)[$hostname](green)$directory$character
"""

right_format = """
$git_branch\
$git_status\
$python\
$nodejs\
$c\
$cpp\
$rust\
$java\
$golang\
$docker_context\
$kubernetes
"""


[character]
success_symbol = '[➜](bold green)'
error_symbol = '[➜](bold red)'

[battery]
full_symbol = "• "
charging_symbol = "⇡ "
discharging_symbol = "⇣ "

[[battery.display]]
threshold = 100

[time]
format = "[$time]($style)"
disabled = false

[username]
show_always = false
format = "[$user]($style)"

[hostname]
ssh_only = true
format = "[$hostname]($style)"

[c]
format = "[$symbol($version )]($style)"
symbol = " "

[directory]
read_only = " "

[docker_context]
symbol = " "
format = "[$symbol$context]($style)"

[elm]
symbol = " "

[golang]
symbol = " "
format = "[$symbol($version )]($style)"

[hg_branch]
symbol = " "

[java]
symbol = " "
format = "[$symbol($version )]($style)"

[memory_usage]
symbol = " "

[nodejs]
format = "[$symbol($version )]($style)"
symbol = " "

[os]
disabled = false

[os.symbols]
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "﯑ "
Gentoo = " "
HardenedBSD = "ﲊ "
Illumos = " "
Linux = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = " "
openSUSE = " "
OracleLinux = " "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = " "
Solus = "ﴱ "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = " "

[package]
symbol = " "
format = "[$symbol($version )]($style)"

[python]
symbol = " "
format = "[$symbol($version )]($style)"
